<!DOCTYPE html>
<html>
<head>
    <title>用户管理</title>
    {% include 'system/common/header.html' %}</head>
<body class="pear-container">
  <div class="layui-card">
    <div class="layui-card-body">
      <form class="layui-form" action="" lay-filter="score-query-form">
        <div class="layui-form-item">
          <label class="layui-form-label">学年</label>
          <div class="layui-input-inline">
            <input type="text" name="year" placeholder="" class="layui-input">
          </div>
          <label class="layui-form-label">学期</label>
          <div class="layui-input-inline">
            <input type="text" name="semester" placeholder="" class="layui-input">
          </div>
          <label class="layui-form-label">课程名称</label>
          <div class="layui-input-inline">
            <input type="text" name="course" placeholder="" class="layui-input">
          </div>
          <label class="layui-form-label">任课老师</label>
          <div class="layui-input-inline">
            <input type="text" name="teacher" placeholder="" class="layui-input">
          </div>
          <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="score-query">
            <i class="layui-icon layui-icon-search"></i>
            查询
          </button>
          <button type="reset" class="pear-btn pear-btn-md">
            <i class="layui-icon layui-icon-refresh"></i>
            重置
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body">
          <table id="role-table" lay-filter="role-table"></table>
        </div>
      </div>
    </div>
  </div>
<div class="layui-row layui-col-space10">
  <div class="layui-col-md6">
    <div class="layui-card">
      <div class="layui-card-body">
        <div id="echarts-records" style="min-height:400px;"></div>
      </div>
    </div>
  </div>
  <div class="layui-col-md6">
    <div class="layui-card">
      <div class="layui-card-body">
        <div id="column2" style="min-height:400px;"></div>
      </div>
    </div>
  </div>
</div>
<div class="layui-row layui-col-space10">
  <div class="layui-col-md6">
    <div class="layui-card">
      <div class="layui-card-body">
        <div id="column1" style="min-height:400px;"></div>
      </div>
    </div>
  </div>
</div>
</body>
{% include 'system/common/footer.html' %}
<script>
    layui.use(['table', 'form', 'jquery', 'popup', 'echarts'], function () {
        let table = layui.table
        let form = layui.form
        let $ = layui.jquery
        let popup = layui.popup

        let MODULE_PATH = '/system/score/'

        let cols = [
        [

          {
            field: 'school_year',
            title: '学年',
            unresize: true,
            align: 'center',
            fixed: 'left',
            width: 150
          },
          {
            field: 'semester',
            title: '学期',
            unresize: true,
            align: 'center',
            width: 100
          },
          {
            field: 'student_no',
            title: '学号',
            unresize: true,
            align: 'center',
            width: 150
          },
          {
            field: 'student_name',
            title: '姓名',
            unresize: true,
            align: 'center',
            width: 150
          },
          {
            field: 'sex',
            title: '性别',
            unresize: true,
            align: 'center',
            width: 50
          },
          {
            field: 'course_no',
            title: '课程代码',
            unresize: true,
            align: 'center',
            width: 150
          },
          {
            field: 'course_name',
            title: '课程名称',
            unresize: true,
            align: 'center',
            width: 150
          },
          {
            field: 'opening_college',
            title: '开课学院',
            unresize: true,
            align: 'center',
            width: 250
          },
          {
            field: 'course_nature',
            title: '课程性质',
            unresize: true,
            align: 'center',
            width: 150
          },
          {
            field: 'credit',
            title: '学分',
            unresize: true,
            align: 'center'
          },
          {
            field: 'score',
            title: '成绩',
            unresize: true,
            align: 'center',
            width: 50
          },
          {
            field: 'course_type',
            title: '课程类别',
            unresize: true,
            align: 'center',
            width: 150
          },
          {
            field: 'teacher_name',
            title: '任课老师',
            unresize: true,
            align: 'center',
            width: 150
          },
          {
            field: 'grade',
            title: '年级',
            unresize: true,
            align: 'center',
            width: 100
          },
          {
            field: 'major_name',
            title: '专业名称',
            unresize: true,
            align: 'center',
            width: 250
          },
          {
            field: 'banji',
            title: '班级',
            unresize: true,
            align: 'center',
            width: 150
          },
          {
            field: 'study_time',
            title: '学时',
            unresize: true,
            align: 'center',
            width: 50
          }
        ]
      ]

        table.render({
            elem: '#role-table',
            url: MODULE_PATH + 'table',
            page: true,
            cols: cols,
            skin: 'line',
            limit: 5,
            limits: [5, 10, 15],
            toolbar: '#role-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter']
        })

        table.on('tool(role-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj)
            } else if (obj.event === 'edit') {
                window.edit(obj)
            } else if (obj.event === 'power') {
                window.power(obj)
            }
        })

        table.on('toolbar(role-table)', function (obj) {
            if (obj.event === 'add') {
                window.add()
            } else if (obj.event === 'refresh') {
                window.refresh()
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj)
            }
        })

      form.on('submit(score-query)', function (data) {
        table.reload('role-table', { where: data.field })
        return false
      })

      form.on('switch(role-enable)', function (obj) {
            let operate
            if (obj.elem.checked) {
                operate = 'enable'
            } else {
                operate = 'disable'
            }
            let loading = layer.load()
            $.ajax({
                url: '/system/role/' + operate,
                data: JSON.stringify({roleId: this.value}),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    layer.close(loading)
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000})
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000})
                    }
                }
            })
        })

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'add'
            })
        }

        window.power = function (obj) {
            layer.open({
                type: 2,
                title: '授权',
                shade: 0.1,
                area: ['320px', '400px'],
                content: MODULE_PATH + 'power/' + obj.data['id']
            })
        }

        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'edit/' + obj.data['id']
            })
        }

        window.remove = function (obj) {
            layer.confirm('确定要删除该角色', {icon: 3, title: '提示'}, function (index) {
                layer.close(index)
                let loading = layer.load()
                $.ajax({
                    url: MODULE_PATH + 'remove/' + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading)
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                obj.del()
                            })
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000})
                        }
                    }
                })
            })
        }

        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data
            if (data.length === 0) {
                layer.msg('未选中数据', {
                    icon: 3,
                    time: 1000
                })
                return false
            }
            var ids = []
            var hasCheck = table.checkStatus('role-table')
            var hasCheckData = hasCheck.data
            if (hasCheckData.length > 0) {
                $.each(hasCheckData, function (index, element) {
                    ids.push(element.id)
                })
            }
            console.log(ids)
            layer.confirm('确定要删除选中角色', {
                icon: 3,
                title: '提示'
            }, function (index) {
                layer.close(index)
                let loading = layer.load()
                $.ajax({

                    url: MODULE_PATH + 'batchRemove',
                    data: {ids: ids},
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading)
                        if (result.success) {
                            popup.success(result.msg, function () {
                                table.reload('role-table')
                            })
                        } else {
                            popup.failure(result.msg)
                        }
                    }
                })
            })
        }

        window.refresh = function () {
            table.reload('role-table')
        }

        echarts = layui.echarts
      var column1 = echarts.init(document.getElementById('column1'), null, {
        width: 600,
        height: 400
      });
      option = {
        title: {
          text: '出勤',
          left: 'center',
          top: 2,
          fontSize: 20
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow',
            color: '#fff',
            fontSize: '26'
          }
        },
        legend: {
          top: '5%',
          right: '10%',
          data: ['高数', 'C语言'],
          fontSize: 12,
          color: '#808080',
          icon: 'rect'
        },
        grid: {
          top: 60,
          left: 50,
          bottom: 60,
          right: 60
        },
        xAxis: [{
          type: 'category',
          axisTick: {
            show: false
          },
          axisLine: {
            show: false
          },
          axisLabel: {
            color: '#4D4D4D',
            fontSize: 14,
            margin: 21,
            fontWeight: 'bold'
          },
          data: ['第一周', '第二周', '第三周', '第四周'],

        }],
        yAxis: [{
          name: '单位：人',
          nameTextStyle: {
            color: '#808080',
            fontSize: 12,
            padding: [0, 0, 0, -5]
          },
          max: function (value) {
            if (value.max < 5) {
              return 5
            } else {
              return value.max
            }
          },
          type: 'value',
          axisLine: {
            show: false
          },
          axisLabel: {
            color: '#808080',
            fontSize: 12,
            margin: 5
          },
          splitLine: {
            show: false
          },
          axisTick: {
            show: false
          }
        }],
        series: [
          {
            name: '高数',
            type: 'bar',
            label: {
              show: true,
              position: 'top',
              fontSize: 14,
              color: '#3DC3F0',
              fontWeight: 'bold'
            },
            barMaxWidth: 60,
            color: {
              type: 'linear',
              x: 0,
              y: 0,
              x2: 0,
              y2: 1,
              colorStops: [{
                offset: 0, color: '#3DC3F0' // 0% 处的颜色
              }, {
                offset: 1, color: '#CCF2FF' // 100% 处的颜色
              }]
            },
            data: [60, 110, 180, 100]
          },
          {
            name: 'C语言',
            type: 'bar',
            label: {
              show: true,
              position: 'top',
              fontSize: 14,
              color: '#3D8BF0',
              fontWeight: 'bold'
            },
            barMaxWidth: 60,
            color: {
              type: 'linear',
              x: 0,
              y: 0,
              x2: 0,
              y2: 1,
              colorStops: [{
                offset: 0, color: '#3D8BF0' // 0% 处的颜色
              }, {
                offset: 1, color: '#CCE2FF' // 100% 处的颜色
              }]
            },
            data: [90, 130, 170, 130]
          }
        ]
      };

      column1.setOption(option);

      window.onresize = function () {
        column1.resize();
      }

      // column2
      var column2 = echarts.init(document.getElementById('column2'));

      var data = [1000, 600, 500, 300];
      option = {
        backgroundColor: '#ffffff',
        title: {
          text: '及格率',
          left: 'center',
          top: 2,
          fontSize: 20
        },
        color: ['#fed46b', '#2194ff'],
        tooltip: {
          trigger: 'axis',
          axisPointer: { // 坐标轴指示器，坐标轴触发有效
            type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '10%',
          containLabel: true
        },
        legend: {
          left: 'center',
          bottom: '2%',
          data: ['2017-2018', '2019-2020'],
          show: true
        },
        xAxis: [{
          type: 'category',
          data: ['09-22', '09-22', '09-22', '09-22', '09-22', '09-22', '09-22'],
          axisTick: {
            alignWithLabel: true
          }
        }],
        yAxis: [{
          type: 'value'
        }],
        barMaxWidth: '30',
        label: {
          show: true,
          position: 'top',
          formatter: function (params) {
            return params.value + '%'
          }
        },
        series: [
          {
            name: '2017-2018',
            type: 'bar',
            data: [90, 52, 90, 80, 90, 70, 90]
          },
          {
            name: '2019-2020',
            type: 'bar',
            data: [10, 52, 90, 70, 90, 70, 90]
          },
        ]
      };
      column2.setOption(option);
      window.onresize = function () {
        column2.resize();
      }

      // line
      var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden')
      var option = {
        title: {
          text: '总分趋势',
          left: 'center',
          top: 2,
          fontSize: 20
        },
        tooltip: {
          trigger: 'axis'
        },
        xAxis: [{
          type: 'category',
          data: ['2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06'],
          axisLine: {
            lineStyle: {
              color: '#999'
            }
          }
        }],
        yAxis: [{
          type: 'value',
          splitNumber: 4,
          splitLine: {
            lineStyle: {
              type: 'dashed',
              color: '#DDD'
            }
          },
          axisLine: {
            show: false,
            lineStyle: {
              color: '#333'
            },
          },
          nameTextStyle: {
            color: '#999'
          },
          splitArea: {
            show: false
          }
        }],
        series: [{
          name: '课时',
          type: 'line',
          data: [23, 60, 20, 36, 23, 85],
          lineStyle: {
            normal: {
              width: 8,
              color: {
                type: 'linear',
                colorStops: [{
                  offset: 0,
                  color: '#A9F387' // 0% 处的颜色
                }, {
                  offset: 1,
                  color: '#48D8BF' // 100% 处的颜色
                }],
                globalCoord: false // 缺省为 false
              },
              shadowColor: 'rgba(72,216,191, 0.3)',
              shadowBlur: 10,
              shadowOffsetY: 20
            }
          },
          itemStyle: {
            normal: {
              color: '#fff',
              borderWidth: 10,
              /*shadowColor: 'rgba(72,216,191, 0.3)',
              shadowBlur: 100,*/
              borderColor: '#A9F387'
            }
          },
          smooth: true
        }]
      }
      echartsRecords.setOption(option)

      window.onresize = function () {
        echartsRecords.resize()
      }

    })
</script>
</html>