<!DOCTYPE html>
<html>

<head>
  {% include 'system/common/header.html' %}</head>

<body class="pear-container">
  <div class="layui-card">
    <div class="layui-card-body">
      <form class="layui-form" action="" lay-filter="score-query-form">
        <div class="layui-form-item">
          <label class="layui-form-label" style="margin-left: -35px;" >班级</label>
          <div class="layui-input-inline">
            <input type="text" name="banji" placeholder="" class="layui-input">
          </div>
          <label class="layui-form-label">课程名称</label>
          <div class="layui-input-inline">
            <input type="text" name="course" placeholder="" class="layui-input">
          </div>
          <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="score-query">
            <i class="layui-icon layui-icon-search"></i>
            查询
          </button>
          <button type="reset" class="pear-btn pear-btn-md">
            <i class="layui-icon layui-icon-refresh"></i>
            重置
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body">
          <table id="role-table" lay-filter="role-table"></table>
        </div>
      </div>
    </div>
  </div>
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-body">
          <div id="pie" style="min-height:400px;"></div>
        </div>
      </div>
    </div>
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-body">
          <div id="column1" style="min-height:400px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="layui-panel">
    <div style="padding: 32px;">
      <b>最高分：</b><span class="layui-badge layui-bg-green" id="highest_score">蓝</span>
      <b></b>最低分：</b><span class="layui-badge" id="lowest_score">赤</span>
      <b></b>平均分：</b><span class="layui-badge layui-bg-orange" id="average_score">橙</span>
      <b></b>挂科率：</b><span class="layui-badge layui-bg-blue" id="nopass_ratio">绿</span>
    </div>
  </div>
  <div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body">
          <table id="student-table" lay-filter="student-table"></table>
        </div>
      </div>
    </div>
  </div>
</body>
{% include 'system/common/footer.html' %}
<script>
  layui.use(['table', 'form', 'jquery', 'echarts'], function () {
    let table = layui.table
    let form = layui.form
    let $ = layui.jquery

    let MODULE_PATH = '/system/score/'

    let cols = [
      [
        {
          type: 'radio'
        },
        {
          field: 'banji',
          title: '班级',
          unresize: true,
          align: 'center'
        },
        {
          field: 'course_name',
          title: '课程名称',
          unresize: true,
          align: 'center'
        },
        {
          field: 'major_name',
          title: '专业名称',
          unresize: true,
          align: 'center'
        },
        {
          field: 'grade',
          title: '年级',
          unresize: true,
          align: 'center'
        },
      ]
    ]

    table.render({
      elem: '#role-table',
      url: MODULE_PATH + 'single_data',
      page: true,
      cols: cols,
      skin: 'line',
      limit: 5,
      limits: [5, 10, 15],
      // 默认选择第一行数据
      done: function (res, curr, count) {
        $(".layui-table-view[lay-id='role-table'] .layui-table-body tr[data-index = '0' ] .layui-form-radio").click();
      }
    })
    // 单选框事件
    table.on('radio(role-table)', function (obj) {
      console.log(obj.data); // 选中行的相关数据
      $.ajax({
        url: MODULE_PATH + 'single_chart?banji=' + obj.data.banji + '&course=' + obj.data.course_name,
        type: 'get',
        success: function (result) {
          console.log(result)
          echarts = layui.echarts
          var column1 = echarts.init(document.getElementById('column1'));
          var pie = echarts.init(document.getElementById('pie'));
          $("#highest_score").html(result.data.highest_score);
          $("#lowest_score").html(result.data.lowest_score);
          $("#average_score").html(result.data.average_score);
          $("#nopass_ratio").html(result.data.nopass_ratio + '%');
          // pie chart
          optionPie = {
            title: {
              text: '考试成绩区间分布图',
              subtext: '总人数：' + result.data.categories,
              left: 'center'
            },
            tooltip: {
              trigger: 'item'
            },
            legend: {
              orient: 'vertical',
              left: 'left'
            },

            series: [
              {
                name: 'PassRatio',
                type: 'pie',
                radius: '50%',
                data: result.data.pie,
                emphasis: {
                  itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                  }
                }
              }
            ]
          };
          pie.setOption(optionPie);

          optionColumn1 = {
            backgroundColor: '#ffffff',
            title: {
              text: '考试成绩统计直方图',
              left: 'center',
              top: 2,
              fontSize: 20
            },
            tooltip: {
              trigger: 'axis',
              axisPointer: { // 坐标轴指示器，坐标轴触发有效
                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
              }
            },
            grid: {
              left: '3%',
              right: '4%',
              bottom: '10%',
              containLabel: true
            },
            xAxis: [{
              type: 'category',
              data: result.data.category,
              axisTick: {
                alignWithLabel: true
              },
              axisLabel: {
                interval: 0,  //让所有标签全部显示
                rotate: 40  //让标签旋转一定的角度
              }

            }],
            yAxis: [{
              // name: '人数',
              type: 'value'
            }],
            barMaxWidth: '30',
            label: {
              show: true,
              position: 'top',
              formatter: function (params) {
                return params.value + '人'
              }
            },

            series: [
              {
                type: 'bar',
                data: result.data.series
              },
            ]
          };
          column1.setOption(optionColumn1);
          window.onresize = function () {
            column1.resize();
            pie.resize();
          }

          let colsStu = [
            [
              {
                field: 'banji',
                title: '班级',
                unresize: true,
                fixed: 'left',
                align: 'center',
                width: 150
              },
              {
                field: 'course_name',
                title: '课程名称',
                unresize: true,
                fixed: 'left',
                align: 'center',
                width: 150
              },
              {
                field: 'school_year',
                title: '学年',
                unresize: true,
                align: 'center',
                width: 150
              },
              {
                field: 'semester',
                title: '学期',
                unresize: true,
                align: 'center',
                width: 100
              },
              {
                field: 'student_no',
                title: '学号',
                unresize: true,
                align: 'center',
                width: 150
              },
              {
                field: 'student_name',
                title: '姓名',
                unresize: true,
                align: 'center',
                width: 150
              },
              {
                field: 'sex',
                title: '性别',
                unresize: true,
                align: 'center',
                width: 50
              },
              {
                field: 'opening_college',
                title: '开课学院',
                unresize: true,
                align: 'center',
                width: 250
              },
              {
                field: 'course_nature',
                title: '课程性质',
                unresize: true,
                align: 'center',
                width: 150
              },
              {
                field: 'credit',
                title: '学分',
                unresize: true,
                align: 'center'
              },
              {
                field: 'score',
                title: '成绩',
                unresize: true,
                align: 'center',
                width: 50
              },
              {
                field: 'course_type',
                title: '课程类别',
                unresize: true,
                align: 'center',
                width: 150
              },
              {
                field: 'teacher_name',
                title: '任课老师',
                unresize: true,
                align: 'center',
                width: 150
              },
              {
                field: 'grade',
                title: '年级',
                unresize: true,
                align: 'center',
                width: 100
              },
              {
                field: 'major_name',
                title: '专业名称',
                unresize: true,
                align: 'center',
                width: 250
              },
              {
                field: 'study_time',
                title: '学时',
                unresize: true,
                align: 'center',
                width: 50
              }
            ]
          ]

          table.render({
            elem: '#student-table',
            url: MODULE_PATH + 'single_student?banji=' + obj.data.banji + '&course=' + obj.data.course_name,
            page: true,
            cols: colsStu,
            skin: 'line',
          })
        }
      })
    });

    form.on('submit(score-query)', function (data) {
      table.reload('role-table', { where: data.field })
      return false
    })

    window.refresh = function () {
      table.reload('role-table')
    }

  })
</script>

</html>